body {
    background:url("rick.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center ;
        }

  #background {
      border-radius: 10px;
      border-bottom:10 px #000;
      outline: 10px black;
      width:300px;
      height:400px;
      background:url("backGroundOfCalc.jpg");
      background-position:center;
      margin:150px auto;
      transition: all 2s ease;
  }
  
  button {
      border:0;
      color:green;
  }
  
  #result {
      display:block;
      font-family: sans-serif;
      width:230px;
      height:40px;
      margin:10px auto;
      text-align: right;
      border:0;
      background:#3b3535;
      color:#fff;
      padding-top:20px;
      font-size:20px;
      margin-left: 25px;
      outline: none;
      overflow: hidden;
      letter-spacing: 4px;
      position: relative;
      top:10px;
  }
  
  #result:hover {   
      cursor: text;
  }
  
  #first-rows {
      margin-bottom: 20px;
      margin-left:57px;
      position: relative;
      top:10px;
  }
  #numbers
  {
    margin-bottom: 20px;
    position: relative;
    top:10px;
  }
  
  .rows {
      width:600px;
      margin-top:10px;
  }
  
  #delete {
      width:110px;
      height:50px;
      margin-left:25px;
      border-radius:4px;
  }

  .fall-back {
    margin-left:3px !important;
}
  
  .align {
      margin-left: 6px !important;
  }
  
  
  .btn-style {
      width:50px;
      height:50px;
      margin-left:5px;
      border-radius:4px;
  }
  
  .eqn {
      width:50px;
      height:50px;
      position: relative;
      top: -3px;
      margin-left:5px;
      border-radius:4px;
  }
  
   .first-child {
   margin-left:25px;
  } 
  
  
  
   .num-bg {
      background:#000;
      color:#fff;
      font-size:26px;
      font-family:Impact, Charcoal, sans-serif;
      cursor:pointer;
      outline:none;
      border:3px solid #00FF00;
  }
  
  
  
  .operator-bg {
      background:#333;
      color:#fff;
      font-size:26px;
      font-family:Impact, Charcoal, sans-serif;
      cursor: pointer;
      outline:none;
      border-bottom:3px solid #555;
  }
  
  
  .delete-bg {
      background:#17ff5c;
      color:#000;
      font-family: Impact, Charcoal, sans-serif;
      font-size:20px;
      cursor: pointer;
      outline:1px solid black;
      border-bottom:3px solid #1f7a29;
  }
  

  
  
  .eqn-bg {
      background:#17a928;
      color:#fff;
      font-size:26px;
      cursor: pointer;
      outline:none;
      border-bottom:3px solid #1f7a29;
  }
  
  
  
  

